/* 4.06 - Policy - Start
================================================== */
.policy_section {
	.iconbox_block.layout_icon_left {
		padding: 0;
		box-shadow: none;
		transform: unset;
		background-color: transparent;
	}
	.block {
		margin-bottom: 30px;
	}
	.block span{
		font-size: 20px;
	}
}
/* 4.06 - Policy - End
================================================== */